* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    font-family: Arial, Arial, Helvetica, sans-serif;
    /* background-image: url();    
    
    
    */
}

h1{
    color: #FFF;
    margin-bottom: 20px;
}
